# Ignore some input files
*.txt
!requirements.txt

# Ignore Vim 
*.swp

# Ignore nodejs
node_modules
package-lock.json

# Ignore c/cpp files
*.out
*.o

# Ignore py notes
test.py

# Python modules
__pycache__
